.DS_Store
node_modules/
/dist/
env/
__pycache__
bigquery_auth
bigquery_auth.json
workload_federation_setup
.venv
.vscode
*.code-workspace
match_actions/
build/
*.egg-info/
.preql_cache.json
*.prof
.mypy_cache
.pytest_cache
.ruff_cache