name: Refresh Data

on:
  schedule:
    - cron: '0 6 * * *'  # Daily at 6 AM UTC
  workflow_dispatch:

jobs:
  refresh-tree-data:
    runs-on: ubuntu-latest
    environment: refresh
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install Python dependencies
        run: pip install -r requirements.txt

      # - name: Refresh data
      #   id: refresh_step
      #   run: |
      #     set +e
      #     trilogy refresh trilogy_public_models/duckdb/sf_trees/data \
      #       --env GOOGLE_HMAC_KEY=${{ secrets.GOOGLE_HMAC_KEY }} \
      #       --env GOOGLE_HMAC_SECRET=${{ secrets.GOOGLE_HMAC_SECRET }}
      #     status=$?

      #     if [ "$status" -eq 2 ]; then
      #       echo "Nothing to refresh. Exiting successfully."
      #       exit 0
      #     elif [ "$status" -ne 0 ]; then
      #       echo "Refresh failed with exit code $status"
      #       exit $status
      #     fi
